body{
    font-family:sans-serif;
}
.navbar{
    background-color:white;
    box-shadow: 0 2px 4px 0 rgba(0,0,0, 0.5) ;
    min-height: 100px;
}

.nav-link{
color: black;
}
.nav-link:hover{
    color: black;
}
.content-center{
margin-top:30px;
}
.logo-brand{
    min-width: 160px;
    max-width: 180px;
}
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}
.btn-space{
  margin-right: 4px;
}
.carousel{
   margin-top: 10px;
text-align:center;
}
.carousel-container{
    margin:0 auto;
}
